<div fxLayoutAlign="center center" class="root">
    <div style="margin: auto; width: 800px;">
        <div>
            <p>Who are these questions for?<mat-icon matTooltip="Names entered here will be insterted into generated question and answers" matTooltipTouchGestures="on">info</mat-icon></p>
            <mat-form-field class="user-chip-list" appearance="fill">
                <mat-label>People</mat-label>
                <mat-chip-list #chipList aria-label="People selection">
                    <mat-chip *ngFor="let user of users" [selectable]="usersSelectable" [removable]="usersRemovable"
                        (removed)="removeUser(user)">
                        {{user}}
                        <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="New Person..." [matChipInputFor]="chipList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        [matChipInputAddOnBlur]="usersAddOnBlur" (matChipInputTokenEnd)="addUser($event)">
                </mat-chip-list>
            </mat-form-field>
        </div>

        <mat-card>
            <mat-card-subtitle>Question</mat-card-subtitle>
            <!-- <mat-card-title>Shiba Inu</mat-card-title> -->
            <mat-card-content>
              <p>{{question.text}}</p>
              <ng-template [ngTemplateOutlet]="getAnswerTemplate()"></ng-template>
            </mat-card-content>
            <mat-divider inset></mat-divider>
            <mat-card-actions fxLayoutGap="16px">
              <button mat-flat-button color="primary" [disabled]="loading" (click)="getQuestion()">New Question</button>
              <button mat-flat-button color="accent" [disabled]="loading" *ngIf="getCanRefreshAnswers()" (click)="updateChoices()">New Answers</button>
            </mat-card-actions>
            <mat-card-footer>
              <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
            </mat-card-footer>
          </mat-card>
    </div>
</div>

<!-- Answer Types -->
<ng-template #answerMC>
    <mat-radio-group class="radio-group">
        <mat-radio-button class="radio-button" *ngFor="let choice of question.choices; let i = index;" [value]="i">
            {{choice}}
            <button mat-icon-button (click)="updateChoice(i)">
                <mat-icon>casino</mat-icon>
            </button>
        </mat-radio-button>
        <mat-radio-button class="radio-button" [value]="-1">
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Other</mat-label>
                <input matInput  placeholder="Ex. something something">
            </mat-form-field>
        </mat-radio-button>
    </mat-radio-group>
</ng-template>

<ng-template #answerText>
    <mat-form-field class="answer-text-full-width" appearance="fill">
        <mat-label>Answer</mat-label>
        <textarea matInput [matTextareaAutosize]="true" placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
</ng-template>

<ng-template #answerRank>
    <div cdkDropList class="rank-list" (cdkDropListDropped)="drop($event)">
        <div class="rank-box" *ngFor="let choice of question.choices; let i = index;" cdkDrag>({{i+1}}). {{choice}}
            <button mat-icon-button (click)="updateChoice(i)">
                <mat-icon>casino</mat-icon>
            </button>
        </div>
    </div>
</ng-template>

<ng-template #answerMA>
    <div style="margin-top: 16px;">
        <div *ngFor="let choice of question.choices; let i = index;">
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>{{choice}}</mat-label>
                <input matInput placeholder="Ex. something something">
            </mat-form-field>
            <button mat-icon-button (click)="updateChoice(i)">
                <mat-icon>casino</mat-icon>
            </button>
        </div>
    </div>
</ng-template>

<ng-template #answerDate>
    <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</ng-template>