<div fxLayoutAlign="center center" class="root">
    <div style="margin: auto; width: 800px; min-width: 250px;">
        <div>
            <p>Who are these questions for?<mat-icon matTooltip="Names entered here will be insterted into generated question and answers" matTooltipTouchGestures="on" class="help-icon">help</mat-icon></p>
            <mat-form-field class="user-chip-list" appearance="fill">
                <mat-label>People</mat-label>
                <mat-chip-list #chipList aria-label="People selection">
                    <mat-chip *ngFor="let user of users" [selectable]="usersSelectable" [removable]="usersRemovable"
                        (removed)="removeUser(user)">
                        {{user}}
                        <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="New Person..." [matChipInputFor]="chipList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        [matChipInputAddOnBlur]="usersAddOnBlur" (matChipInputTokenEnd)="addUser($event)">
                </mat-chip-list>
            </mat-form-field>
        </div>

        <app-form-question [question]="question" [loading]="loading"
            [basicEdit]="true"
            (qRandomize)="getQuestion()" (qSeed)="seedQuestion()"
            (qRandomizeAnswers)="updateChoices()" (qShuffle)="updateQuestion()">
        </app-form-question>

    </div>
</div>