.root {
    height: 100%;
}

.user-chip-list {
    width: 100%;
}

.title-input {
    width: 400px !important;
    input {
        font-family: 'Chalk', 'arial', sans-serif;
        font-size: xx-large;
    }
}

mat-form-field {
    width: 100%;
    max-width: 100%;
    margin: auto;
}

h1,
h2 {
    text-align: center;
}

h1.large {
    font-size: xxx-large;
}

h1 {
    width: max-content;
    margin: auto;
    margin-top: 32px;
    margin-bottom: 4px;
    font-family: 'Chalk', 'arial', sans-serif;
}
