<div style="margin-top: 16px;">
    <table>
        <thead class="scaleHead">
            <tr>
                <th></th>
                <th *ngFor="let header of scaleValues">
                    <span [innerHTML]="header"></span>
                </th>
                <th style="text-align: start;">
                    <button mat-icon-button *ngIf="editable" [disabled]="loading" (click)="aEditScale.emit()" matTooltip="Edit Rate Values">
                        <mat-icon>edit</mat-icon>
                    </button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let choice of choices; let choiceI = index;">
                <td class="answerLabel">
                    <span [innerHTML]="choice"></span>
                </td>
                <td *ngFor="let header of scaleValues; let i = index">
                    <mat-radio-group class="radio-group" [(ngModel)]="answers[choiceI]" (change)="onChange()">
                        <mat-radio-button class="radio-button" [value]="i">
                        </mat-radio-button>
                    </mat-radio-group>
                </td>
                <td style="text-align: start;">
                   <!-- Customization Options -->
                    <div *ngIf="editable" fxLayout="row">
                        <button mat-icon-button [disabled]="loading" (click)="aEditText.emit(choiceI)" matTooltip="Edit Text">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button [disabled]="loading" [matMenuTriggerFor]="edit" matTooltip="More Options">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #edit="matMenu">
                            <button mat-menu-item (click)="move(choiceI, -1)" [disabled]="choiceI === 0">
                                <mat-icon>arrow_upward</mat-icon>Move Up
                            </button>
                            <button mat-menu-item (click)="move(choiceI, 1)" [disabled]="choiceI === choices.length - 1">
                                <mat-icon>arrow_downward</mat-icon>Move Down
                            </button>
                            <button mat-menu-item (click)="aRandomize.emit(choiceI)">
                                <mat-icon color="accent">casino</mat-icon>Randomize
                            </button>
                            <button mat-menu-item (click)="deleteAnswer(choiceI)">
                                <mat-icon color="warn">delete</mat-icon>Delete
                            </button>
                        </mat-menu>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <button mat-button *ngIf="editable" (click)="addAnswer()">
        <mat-icon>add</mat-icon> Add
    </button>
</div>