.mat-form-field {
    margin-right: 4px;
}

mat-tree {
    background-color: rgba(0, 0, 0, 0)
}

mat-card {
    background-color: rgba(66, 66, 66, 0.5);
    // height: calc(100% - 53px);
    margin-bottom: 16px;
}
