<div style="margin-top: 16px;">
    <section class="section">

        <div fxLayout="column">
            <div *ngFor="let choice of choices; let i = index;">
                <mat-checkbox class="margin"><span [innerHTML]="choice"></span></mat-checkbox>
                <button mat-icon-button *ngIf="editable" [disabled]="loading" [matMenuTriggerFor]="edit">
                    <mat-icon>edit</mat-icon>
                </button>
                <mat-menu #edit="matMenu">
                    <button mat-menu-item (click)="aEditText.emit(i)">
                        <mat-icon>edit</mat-icon>Edit Label
                    </button>
                    <button mat-menu-item (click)="aRandomize.emit(i)">
                        <mat-icon color="accent">casino</mat-icon>Randomize
                    </button>
                    <button mat-menu-item (click)="aDelete.emit(i)">
                        <mat-icon color="warn">delete</mat-icon>Delete
                    </button>
                </mat-menu>
            </div>
        </div>
    </section>

    <button mat-button *ngIf="editable" (click)="aAdd.emit()">
        <mat-icon>add</mat-icon> Add
    </button>

</div>