<div style="margin-top: 16px;">
    <div *ngFor="let choice of choices; let i = index;" fxLayout="row" fxLayoutAlign="space-between">

        <mat-form-field fxFlex appearance="outline">
            <mat-label><span [innerHTML]="choice"></span></mat-label>
            <textarea matInput [matTextareaAutosize]="true" placeholder="Type Something..." [(ngModel)]="answers[i]" (keyup)="onChange()" maxlength="1000"></textarea>
        </mat-form-field>

        <!-- Customization Options -->
        <div *ngIf="editable">
            <button mat-icon-button [disabled]="loading" (click)="aEditText.emit(i)" matTooltip="Edit Text">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button [disabled]="loading" [matMenuTriggerFor]="edit" matTooltip="More Options">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #edit="matMenu">
                <button mat-menu-item (click)="move(i, -1)" [disabled]="i === 0">
                    <mat-icon>arrow_upward</mat-icon>Move Up
                </button>
                <button mat-menu-item (click)="move(i, 1)" [disabled]="i === choices.length - 1">
                    <mat-icon>arrow_downward</mat-icon>Move Down
                </button>
                <button mat-menu-item (click)="aRandomize.emit(i)">
                    <mat-icon color="accent">casino</mat-icon>Randomize
                </button>
                <button mat-menu-item (click)="deleteAnswer(i)">
                    <mat-icon color="warn">delete</mat-icon>Delete
                </button>
            </mat-menu>
        </div>
    </div>
    <button mat-button *ngIf="editable" (click)="addAnswer()"><mat-icon>add</mat-icon> Add</button>
</div>