<div style="margin-top: 16px;">
    <div *ngFor="let choice of choices; let i = index;" fxLayout="row">
        <mat-form-field fxFlex class="full-width" appearance="outline">
            <mat-label><div [innerHTML]="choice"></div></mat-label>
            <textarea matInput [matTextareaAutosize]="true" placeholder="Type Something..."></textarea>
        </mat-form-field>
        <!-- <button mat-icon-button (click)="updateChoice(i)">
            <mat-icon>casino</mat-icon>
        </button> -->
    </div>
</div>