<div fxLayoutAlign="center center" class="root" *ngIf="surveyContainer">
    <div style="margin: auto; width: 1000px; min-width: 250px;" fxLayout="row wrap" fxLayoutAlign="center">
        <div fxFlex="100%">
            <h1 class="large" fxHide.lt-sm>{{getSurveyName()}}</h1>
            <h1 fxHide.gt-xs>{{getSurveyName()}}</h1>
        </div>

        <mat-card class="answ-status-container" *ngIf="hasData">
            <mat-card-header>
                <mat-card-title>Info</mat-card-title>
            </mat-card-header>
            <mat-card-content fxLayout="column" fxLayoutGap="8px">

                <table>
                    <tr>
                        <td>Title</td>
                        <td>{{surveyContainer.survey.name}}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>{{surveyContainer.survey.email}}</td>
                    </tr>
                    <tr>
                        <td>Created Date</td>
                        <td>{{surveyContainer.createdDate | date:'short'}}</td>
                    </tr>
                    <tr>
                        <td>Last Modified Date</td>
                        <td>{{surveyContainer.survey.lastModifiedDate | date:'short'}}</td>
                    </tr>
                    <tr>
                        <td>Questions</td>
                        <td>{{surveyContainer.survey.questions.length}}</td>
                    </tr>
                    <tr *ngFor="let q of surveyContainer.survey.questions; let i = index">
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;{{i+1}}. {{getQuestionSubstring(q.text)}}</td>
                        <td>{{answerTypeToString(q.answerType)}}</td>
                    </tr>
                </table>

            </mat-card-content>
        </mat-card>

        <mat-card class="answ-status-container" *ngIf="hasData">
            <mat-card-header>
                <mat-card-title>Management Link</mat-card-title>
            </mat-card-header>
            <mat-card-content fxLayout="column" fxLayoutGap="8px">

                <p style="height: 34px;">This is the link to managing your survey and retrieving answers. Do <span
                        style="color:crimson">NOT</span> lose it or share it.</p>
                <div fxLayout="row" class="link-box manager-link" fxLayout="center center">
                    <a fxFlex class="manage-link" [href]="managerLink" target="_blank">{{managerLink}}</a>
                    <button mat-icon-button (click)="copyLink(managerLink, true)" matTooltip="Copy">
                        <mat-icon>content_copy</mat-icon>
                    </button>
                </div>


            </mat-card-content>

            <mat-divider [inset]="true" style="margin-top: 16px; margin-bottom: 16px;"></mat-divider>

            <mat-card-header>
                <mat-card-title>Sharable Link</mat-card-title>
            </mat-card-header>
            <mat-card-content fxLayout="column" fxLayoutGap="8px">

                <p style="height: 34px;">Share this link with others so they can take your survey.</p>
                <div fxLayout="row" class="link-box" fxLayout="center center">
                    <a fxFlex class="manage-link" [href]="shareLink" target="_blank">{{shareLink}}</a>
                    <button mat-icon-button (click)="copyLink(shareLink, false)" matTooltip="Copy">
                        <mat-icon>content_copy</mat-icon>
                    </button>
                </div>

            </mat-card-content>
        </mat-card>

        <mat-card *ngIf="answerStatus && hasData" class="answ-status-container">
            <mat-card-header>
                <mat-card-title>Survey Completion {{getTotalStatus() | percent:'2.'}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>

                <table mat-table [dataSource]="answerStatus" style="width: 100%;">

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="lastModifiedDate">
                        <th mat-header-cell *matHeaderCellDef> Last Updated </th>
                        <td mat-cell *matCellDef="let element"> {{element.lastModifiedDate | date}} </td>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef> Status </th>
                        <td mat-cell *matCellDef="let element"><span
                                [ngStyle]="{color: getStatusColor(element.count)}">{{getStatus(element.count)}}</span>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

            </mat-card-content>
        </mat-card>

        <mat-card class="answ-status-container" *ngIf="hasData">
            <mat-card-header>
                <mat-card-title>Actions</mat-card-title>
            </mat-card-header>
            <mat-card-content fxLayout="column" fxLayoutGap="8px">

                <button mat-raised-button color="accent" [routerLink]="'/manage/make/' + id + '/' + key">Edit
                    Survey</button>
                
                <mat-divider class="action-divider" [inset]="true"></mat-divider>

                <button mat-raised-button color="primary" (click)="beginPresentation()">Begin Presentation</button>
                <div fxLayout="row" fxLayoutGap="8px">
                    <button fxFlex mat-raised-button *ngIf="resultsRequireKey()" (click)="startResultsRequireKey(false)">Release Presentation To All</button>
                    <button fxFlex mat-raised-button *ngIf="!resultsRequireKey()" (click)="saveResultsRequireKey(true)">Revoke Presentation Access</button>
                    <mat-icon color="accent" class="help-icon" matTooltip="You can release the survey results to anyone with a sharable link. Allowing them to view the results of their own accord without you needing to share/expose a management link">help</mat-icon>
                </div>
                <button mat-raised-button (click)="openExportDialog()">Export Answers To .csv (Excel)</button>

                <mat-divider class="action-divider" [inset]="true"></mat-divider>

                <button mat-raised-button color="warn" (click)="deleteButton()">Delete Survey</button>

            </mat-card-content>
        </mat-card>

    </div>
</div>

<div style="margin: 32px;" fxLayout="column" fxLayoutAlign="center center">
    <h3>Any and all feedback is appreciated!</h3>
    <button mat-raised-button (click)="openFeedback()" color="primary">Feedback</button>
</div>