<form>
    <mat-card>
        
        <mat-card-subtitle *ngIf="questionNumber === undefined">Question {{question.seed}}</mat-card-subtitle>
        <mat-card-subtitle *ngIf="questionNumber !== undefined">Question {{questionNumber}}</mat-card-subtitle>
        
        <mat-card-content>
            <p [innerHTML]="question.text"></p>
            <ng-template [ngTemplateOutlet]="getAnswerTemplate()"></ng-template>
        </mat-card-content>
        
        <ng-container *ngIf="editable">
            <mat-divider inset></mat-divider>
        
            <mat-card-actions fxLayoutGap="8px" fxLayout="row" >
                <button mat-flat-button color="primary" [disabled]="loading" (click)="qRandomize.emit()">New Question</button>
                <button mat-icon-button color="primary" [disabled]="loading" (click)="qSeed.emit()">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <div fxFlex></div>
                <button mat-flat-button color="accent" [disabled]="loading" *ngIf="question.choices.length > 0"
                    (click)="qRandomizeAnswers.emit()">
                    <mat-icon>casino</mat-icon> Answers
                </button>
            </mat-card-actions>
        </ng-container>

        <mat-card-footer>
            <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
        </mat-card-footer>
    </mat-card>

    <ng-template #formDefault>
        <p>Unknown Template: {{question.answerType}}</p>
    </ng-template>

    <ng-template #formText>
        <app-form-text [choices]="question.choices"></app-form-text>
    </ng-template>

    <ng-template #formMulti>
        <app-form-multi [choices]="question.choices" [allowOther]="question.allowOther"></app-form-multi>
    </ng-template>

    <ng-template #formCheck>
        <app-form-check></app-form-check>
    </ng-template>

    <ng-template #formRank>
        <app-form-rank [choices]="question.choices"></app-form-rank>
    </ng-template>

    <ng-template #formDate>
        <app-form-date></app-form-date>
    </ng-template>

    <ng-template #formTime>
        <app-form-time></app-form-time>
    </ng-template>

    <ng-template #formScale>
        <app-form-scale></app-form-scale>
    </ng-template>

    <ng-template #formSlider>
        <app-form-slider></app-form-slider>
    </ng-template>

</form>