mat-card {
    width: calc(100% - 32px);
    height: auto;
    max-width: 800px;
    background-color: rgba(66, 66, 66, 0.5);
}

mat-card-content > p {
    white-space: pre-wrap;
}

::ng-deep img {
    width: 100%;
    height: auto;
}

.rarity-chip {
    &:hover {
        cursor: pointer;
    }
    color: black;
    font-size: x-small;
    padding: 2px 8px;
}