<mat-card [id]="'question' + questionNumber" [ngStyle]="getBorderStyle()">

    <mat-card-header style="height: 28px;">
        <mat-card-subtitle *ngIf="questionNumber !== '0'">Question: {{questionNumber}}</mat-card-subtitle>

        <div *ngIf="question.qChance > 1 && basicEdit" style="position: absolute; left: 6px; top: 4px;">
            <mat-chip [ngStyle]="{'background-color': rarityColor}" class="rarity-chip" (click)="clickRarity()">{{rarityText}} Question</mat-chip>
        </div>

        <!-- Allow choosing other answer keys if available -->
        <div *ngIf="(editable || basicEdit) && (question.answerKeys?.length || 0) > 1" style="position: absolute; right: 4px; top: 4px;">
            <button mat-stroked-button fxHide.xs [matMenuTriggerFor]="keyMenu">
                Answer Key: {{answerKeyString(question.answerKey)}}<mat-icon>arrow_drop_down</mat-icon>
            </button>
            <button mat-icon-button fxHide.gt-xs [matMenuTriggerFor]="keyMenu" matTooltip="Answer Key">
                <mat-icon>settings_suggest</mat-icon>
            </button>
            <mat-menu #keyMenu="matMenu">
                <button mat-menu-item *ngFor="let key of question.answerKeys.sort()" (click)="answerKeyChange(key)" [disabled]="question.answerKey === key">{{answerKeyString(key)}}</button>
            </mat-menu>
        </div>
    </mat-card-header>
    
    <mat-card-content>
        <p [innerHTML]="question.text"></p>
        
        <mat-slide-toggle *ngIf="editable" [(ngModel)]="question.useAnswerFormat">Format Answer</mat-slide-toggle>
        <fieldset *ngIf="(editable || basicEdit) && question.answerFormat && question.useAnswerFormat" style="border-radius: 4px; border-color: orangered;">
            <legend>Answer Format</legend>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <p *ngIf="showFormatted" [innerHTML]="formatAnswer()"></p>
                <p *ngIf="!showFormatted">******************</p>
                <div>
                    <button mat-icon-button (click)="showFormatted = !showFormatted"><mat-icon>{{showFormatted ? 'visibility_off' : 'visibility'}}</mat-icon></button>
                    <button mat-icon-button *ngIf="editable" (click)="aFormatEdit.emit()"><mat-icon>edit</mat-icon></button>
                </div>
            </div>
            <p style="font-size: smaller; color: orangered">In a real survey, this will be hidden until final presentation/results (Like a secret Mad Lib)</p>
        </fieldset>

        <ng-template [ngTemplateOutlet]="getAnswerTemplate()"></ng-template>

        <div style="font-size: smaller; color:gold" *ngIf="(editable || basicEdit) && dirty">Answers can be entered for preview purposes, but will not be saved.</div>
    </mat-card-content>

    <ng-container *ngIf="(!editable && !basicEdit) || dirty">
        <mat-divider inset style="margin-bottom: 8px;"></mat-divider>
        <mat-card-actions fxLayoutGap="8px" fxLayout="row">
            <button mat-flat-button color="warn" (click)="clearAnswer()" [disabled]="!dirty">
                Clear
            </button>
        </mat-card-actions>
    </ng-container>

    <ng-container *ngIf="editable || basicEdit">
        <mat-divider inset style="margin-bottom: 8px;"></mat-divider>

        <mat-card-actions fxLayoutGap="8px" fxLayout="row" fxHide.gt-sm>
            <button mat-raised-button color="primary" [disabled]="loading" (click)="qRandomize.emit()" matTooltip="Randomize Question"><mat-icon>sync</mat-icon> Question</button>
            <button mat-icon-button color="accent" (click)="qShuffle.emit()" [disabled]="loading || question.custom" matTooltip="Question Variation"><mat-icon>sync_lock</mat-icon></button>
            <button mat-icon-button color="accent" [disabled]="loading || question.custom || disableAnswerRandom()" (click)="qRandomizeAnswers.emit()" matTooltip="Randomize Answers"><mat-icon>casino</mat-icon></button>
            <button mat-icon-button (click)="qSeed.emit()" matTooltip="Seed Question"><mat-icon>search</mat-icon></button>
            <button mat-icon-button *ngIf="!question.custom && basicEdit" [mat-menu-trigger-for]="reportMenu" matTooltip="Report Question"><mat-icon>report</mat-icon></button>
            <div fxFlex></div>
            <button mat-icon-button matTooltip="Help" (click)="buttonsHelp()"><mat-icon>help</mat-icon></button>
        </mat-card-actions>

        <mat-card-actions fxLayoutGap="8px" fxLayout="row" fxHide.lt-md>
            <button mat-raised-button color="primary" [disabled]="loading" (click)="qRandomize.emit()" matTooltip="Randomize Question"><mat-icon>sync</mat-icon> New Question</button>
            <button mat-raised-button color="accent" (click)="qShuffle.emit()" [disabled]="loading || question.custom" matTooltip="Question Variation"><mat-icon>sync_lock</mat-icon> Question Variation</button>
            <button mat-raised-button color="accent" [disabled]="loading || question.custom || disableAnswerRandom()" (click)="qRandomizeAnswers.emit()" matTooltip="Randomize Answers"><mat-icon>casino</mat-icon> New Answers</button>
            <button mat-raised-button (click)="qSeed.emit()" matTooltip="Seed Question"><mat-icon>search</mat-icon> Seed</button>
            <button mat-raised-button *ngIf="!question.custom && basicEdit" [mat-menu-trigger-for]="reportMenu" matTooltip="Report Question"><mat-icon>report</mat-icon> Report</button>
            <div fxFlex></div>
            <button mat-icon-button matTooltip="Help" (click)="buttonsHelp()" aria-label="Question Help"><mat-icon>help</mat-icon></button>
        </mat-card-actions>
    </ng-container>

    <mat-card-footer>
        <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
</mat-card>

<mat-menu #reportMenu="matMenu">
    <button mat-menu-item (click)="questionFeedback('Missing Tag')">Missing Tag</button>
    <button mat-menu-item (click)="questionFeedback('Broken Link')">Broken Link</button>
    <button mat-menu-item (click)="questionFeedback('Incorrect Text')">Incorrect Text</button>
    <button mat-menu-item (click)="questionFeedback('Grammar')">Grammar</button>
    <button mat-menu-item (click)="questionFeedback('Other')">Other</button>
</mat-menu>

<!-- Answer Templates -->
<ng-template #formDefault>
    <p>Unknown Template: {{question.answerType}}</p>
</ng-template>

<ng-template #formEmpty></ng-template>

<ng-template #formText>
    <app-form-text [choices]="question.choices" [editable]="editable" [clear]="clearVar"
        (aAdd)="aAdd.emit()" (aDelete)="aDelete.emit($event)" 
        (aEditText)="aEditText.emit($event)" (aRandomize)="aRandomize.emit($event)"
        (aUpdate)="answerUpdate($event)" (aOrder)="aOrder.emit($event)">
    </app-form-text>
</ng-template>

<ng-template #formMulti>
    <app-form-multi [choices]="question.choices" [editable]="editable" [clear]="clearVar"
        [otherOptionAllow]="question.otherOptionAllow" [otherOptionText]="question.otherOptionText"
        (aAdd)="aAdd.emit()" (aDelete)="aDelete.emit($event)" (aOtherOptionAllow)="aOtherOptionAllow.emit()"
        (aEditText)="aEditText.emit($event)" (aRandomize)="aRandomize.emit($event)"
        (aUpdate)="answerUpdate($event)" (aOrder)="aOrder.emit($event)">
    </app-form-multi>
</ng-template>

<ng-template #formCheck>
    <app-form-check [choices]="question.choices" [editable]="editable" [clear]="clearVar"
        (aAdd)="aAdd.emit()" (aDelete)="aDelete.emit($event)" 
        (aEditText)="aEditText.emit($event)" (aRandomize)="aRandomize.emit($event)"
        (aUpdate)="answerUpdate($event)" (aOrder)="aOrder.emit($event)">
    </app-form-check>
</ng-template>

<ng-template #formRank>
    <app-form-rank [choices]="question.choices" [editable]="editable" [clear]="clearVar"
    (aAdd)="aAdd.emit()" (aDelete)="aDelete.emit($event)" 
    (aEditText)="aEditText.emit($event)" (aRandomize)="aRandomize.emit($event)"
    (aUpdate)="answerUpdate($event)" (aOrder)="aOrder.emit($event)">
</app-form-rank>
</ng-template>

<ng-template #formDate>
    <app-form-date [choices]="question.choices" [editable]="editable" [clear]="clearVar"
    (aAdd)="aAdd.emit()" (aDelete)="aDelete.emit($event)" 
    (aEditText)="aEditText.emit($event)" (aRandomize)="aRandomize.emit($event)"
    (aUpdate)="answerUpdate($event)" (aOrder)="aOrder.emit($event)">
</app-form-date>
</ng-template>

<ng-template #formTime>
    <app-form-time [choices]="question.choices" [editable]="editable" [clear]="clearVar"
    (aAdd)="aAdd.emit()" (aDelete)="aDelete.emit($event)" 
    (aEditText)="aEditText.emit($event)" (aRandomize)="aRandomize.emit($event)"
    (aUpdate)="answerUpdate($event)" (aOrder)="aOrder.emit($event)">
</app-form-time>
</ng-template>

<ng-template #formScale>
    <app-form-scale [choices]="question.choices" [editable]="editable" [scaleValues]="question.scaleValues" [clear]="clearVar"
    (aAdd)="aAdd.emit()" (aDelete)="aDelete.emit($event)" (aEditScale)="aEditScale.emit()"
    (aEditText)="aEditText.emit($event)" (aRandomize)="aRandomize.emit($event)"
    (aUpdate)="answerUpdate($event)" (aOrder)="aOrder.emit($event)">
</app-form-scale>
</ng-template>
