<mat-card>

    <mat-card-header>
        <mat-card-subtitle *ngIf="questionNumber !== undefined">Question: {{questionNumber}}</mat-card-subtitle>
        <mat-card-subtitle *ngIf="question.qChance > 1 && basicEdit">Question Probability: 1 in {{question.qChance | number}}</mat-card-subtitle>

        <!-- Allow choosing other answer keys if available -->
        <div *ngIf="(editable || basicEdit) && question.answerKeys.length > 1" style="position: absolute; right: 4px; top: 4px;">
            <button mat-button fxHide.xs [matMenuTriggerFor]="keyMenu">
                Answer Key: {{answerKeyString(question.answerKey)}}<mat-icon>arrow_drop_down</mat-icon>
            </button>
            <button mat-icon-button fxHide.gt-xs [matMenuTriggerFor]="keyMenu" matTooltip="Answer Key">
                <mat-icon>settings_suggest</mat-icon>
            </button>
            <mat-menu #keyMenu="matMenu">
                <button mat-menu-item *ngFor="let key of question.answerKeys.sort()" (click)="answerKeyChange(key)">{{answerKeyString(key)}}</button>
            </mat-menu>
        </div>
    </mat-card-header>
    
    <mat-card-content>
        <p [innerHTML]="question.text"></p>
        
        <!-- <div fxLayout="column" *ngIf="editable">
            <mat-slide-toggle #extraTextToggle>Extra Text For Presentation</mat-slide-toggle>
            <mat-form-field fxFlex appearance="outline" *ngIf="extraTextToggle.checked">
                <mat-label>Text</mat-label>
                <textarea matInput [matTextareaAutosize]="true" placeholder="Type Something..."></textarea>
                <mat-hint>This text will only be shown during the result presentation.</mat-hint>
            </mat-form-field>
        </div> -->

        <div style="font-size: smaller; color:gold" *ngIf="(editable || basicEdit) && dirty">Answers can be entered for preview purposes, but will not be saved.</div>

        <ng-template [ngTemplateOutlet]="getAnswerTemplate()"></ng-template>
    </mat-card-content>

    <ng-container *ngIf="(!editable && !basicEdit)">
        <mat-divider inset style="margin-bottom: 8px;"></mat-divider>
        <mat-card-actions fxLayoutGap="8px" fxLayout="row">
            <button mat-flat-button color="warn" (click)="clearAnswer()" [disabled]="!dirty">
                Clear
            </button>
        </mat-card-actions>
    </ng-container>

    <ng-container *ngIf="editable || basicEdit">
        <mat-divider inset style="margin-bottom: 8px;"></mat-divider>

        <mat-card-actions fxLayoutGap="8px" fxLayout="row">
            <button mat-flat-button color="primary" [disabled]="loading" (click)="qRandomize.emit()">
                <mat-icon>casino</mat-icon> Question
            </button>
            <button mat-flat-button color="accent" [disabled]="loading || question.custom || disableAnswerRandom()" (click)="qRandomizeAnswers.emit()">
                <mat-icon>casino</mat-icon> Answers
            </button>
            <button mat-flat-button color="accent" (click)="qShuffle.emit()" [disabled]="loading || question.custom" fxHide.lt-sm>
                <mat-icon>shuffle</mat-icon>Shuffle Question
            </button>
            <button mat-flat-button color="warn" (click)="clearAnswer()" *ngIf="dirty">
                Clear
            </button>
            <button mat-icon-button [mat-menu-trigger-for]="moreMenu" *ngIf="basicEdit"><mat-icon>more_vert</mat-icon></button>
            <mat-menu #moreMenu="matMenu">
                <button mat-menu-item (click)="qShuffle.emit()" fxHide.gt-xs [disabled]="question.custom"><mat-icon color="accent">shuffle</mat-icon>Shuffle Question</button>
                <button mat-menu-item (click)="qSeed.emit()"><mat-icon>search</mat-icon>Seed</button>
            </mat-menu>

        </mat-card-actions>
    </ng-container>

    <mat-card-footer>
        <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
</mat-card>


<!-- Answer Templates -->
<ng-template #formDefault>
    <p>Unknown Template: {{question.answerType}}</p>
</ng-template>

<ng-template #formEmpty></ng-template>

<ng-template #formText>
    <app-form-text [choices]="question.choices" [editable]="editable" [clear]="clearVar"
        (aAdd)="aAdd.emit()" (aDelete)="aDelete.emit($event)" 
        (aEditText)="aEditText.emit($event)" (aRandomize)="aRandomize.emit($event)"
        (aUpdate)="answerUpdate($event)" (aOrder)="aOrder.emit($event)">
    </app-form-text>
</ng-template>

<ng-template #formMulti>
    <app-form-multi [choices]="question.choices" [editable]="editable" [clear]="clearVar"
        [otherOptionAllow]="question.otherOptionAllow" [otherOptionText]="question.otherOptionText"
        (aAdd)="aAdd.emit()" (aDelete)="aDelete.emit($event)" (aOtherOptionAllow)="aOtherOptionAllow.emit()"
        (aEditText)="aEditText.emit($event)" (aRandomize)="aRandomize.emit($event)"
        (aUpdate)="answerUpdate($event)" (aOrder)="aOrder.emit($event)">
    </app-form-multi>
</ng-template>

<ng-template #formCheck>
    <app-form-check [choices]="question.choices" [editable]="editable" [clear]="clearVar"
        (aAdd)="aAdd.emit()" (aDelete)="aDelete.emit($event)" 
        (aEditText)="aEditText.emit($event)" (aRandomize)="aRandomize.emit($event)"
        (aUpdate)="answerUpdate($event)" (aOrder)="aOrder.emit($event)">
    </app-form-check>
</ng-template>

<ng-template #formRank>
    <app-form-rank [choices]="question.choices" [editable]="editable" [clear]="clearVar"
    (aAdd)="aAdd.emit()" (aDelete)="aDelete.emit($event)" 
    (aEditText)="aEditText.emit($event)" (aRandomize)="aRandomize.emit($event)"
    (aUpdate)="answerUpdate($event)" (aOrder)="aOrder.emit($event)">
</app-form-rank>
</ng-template>

<ng-template #formDate>
    <app-form-date [choices]="question.choices" [editable]="editable" [clear]="clearVar"
    (aAdd)="aAdd.emit()" (aDelete)="aDelete.emit($event)" 
    (aEditText)="aEditText.emit($event)" (aRandomize)="aRandomize.emit($event)"
    (aUpdate)="answerUpdate($event)" (aOrder)="aOrder.emit($event)">
</app-form-date>
</ng-template>

<ng-template #formTime>
    <app-form-time [choices]="question.choices" [editable]="editable" [clear]="clearVar"
    (aAdd)="aAdd.emit()" (aDelete)="aDelete.emit($event)" 
    (aEditText)="aEditText.emit($event)" (aRandomize)="aRandomize.emit($event)"
    (aUpdate)="answerUpdate($event)" (aOrder)="aOrder.emit($event)">
</app-form-time>
</ng-template>

<ng-template #formScale>
    <app-form-scale [choices]="question.choices" [editable]="editable" [scaleValues]="question.scaleValues" [clear]="clearVar"
    (aAdd)="aAdd.emit()" (aDelete)="aDelete.emit($event)" (aEditScale)="aEditScale.emit()"
    (aEditText)="aEditText.emit($event)" (aRandomize)="aRandomize.emit($event)"
    (aUpdate)="answerUpdate($event)" (aOrder)="aOrder.emit($event)">
</app-form-scale>
</ng-template>
