.grammar-container {
    width: 95vw;
}

div.grammar-container p {
    margin: 0px 0px 0px 32px;
}
div.grammar-container div {
    margin-bottom: 16px;
}
.grammar-table td {
    border: solid 1px brown;
}