<div style="margin-top: 16px;">
    <mat-radio-group class="radio-group" [(ngModel)]="answer" (change)="onChange()">
        <div *ngFor="let choice of choices; let i = index;" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- Choices -->
            <mat-radio-button class="radio-button" [value]="i">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <div [innerHTML]="choice"></div>
                </div>
            </mat-radio-button>

            <!-- Customization Options -->
            <div *ngIf="editable">
                <button mat-icon-button [disabled]="loading" (click)="aEditText.emit(i)" matTooltip="Edit Text">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button [disabled]="loading" [matMenuTriggerFor]="edit" matTooltip="More Options">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #edit="matMenu">
                    <button mat-menu-item (click)="move(i, -1)" [disabled]="i === 0">
                        <mat-icon>arrow_upward</mat-icon>Move Up
                    </button>
                    <button mat-menu-item (click)="move(i, 1)" [disabled]="i === choices.length - 1">
                        <mat-icon>arrow_downward</mat-icon>Move Down
                    </button>
                    <button mat-menu-item (click)="aRandomize.emit(i)">
                        <mat-icon color="accent">casino</mat-icon>Randomize
                    </button>
                    <button mat-menu-item (click)="deleteAnswer(i)">
                        <mat-icon color="warn">delete</mat-icon>Delete
                    </button>
                </mat-menu>
            </div>

        </div>

        <!-- Other Option -->
        <div fxLayout="row" fxLayoutAlign="space-between center" *ngIf="otherOptionAllow || editable">

            <mat-radio-button #otherOption [disabled]="!otherOptionAllow" class="radio-button" [value]="-1">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>{{otherOptionText}}</mat-label>
                    <input matInput #otherOptionInput [disabled]="!otherOptionAllow" placeholder="Ex. something something" [(ngModel)]="otherAnswer" (focusin)="triggerRadioButton(); onChange();" (keyup)="onChange();" maxlength="500">
                    <mat-hint *ngIf="!otherOptionAllow">This Option Will Be Hidden</mat-hint>
                </mat-form-field>
            </mat-radio-button>

            <!-- Customization Options -->
            <button mat-icon-button *ngIf="editable" [disabled]="loading" [matMenuTriggerFor]="edit">
                <mat-icon>edit</mat-icon>
            </button>
            <mat-menu #edit="matMenu">
                <button mat-menu-item (click)="aEditText.emit(-1)">
                    <mat-icon>edit</mat-icon>Edit Label
                </button>
                <button mat-menu-item (click)="aOtherOptionAllow.emit()">
                    <mat-icon color="warn">help_center</mat-icon>{{otherOptionAllow?'Disallow':'Allow'}} Other
                </button>
            </mat-menu>

        </div>

    </mat-radio-group>
    <button mat-button *ngIf="editable" (click)="addAnswer()">
        <mat-icon>add</mat-icon> Add
    </button>
</div>