<h1 class="large" fxHide.lt-sm>{{title}}</h1>
<h1 fxHide.gt-xs>{{title}}</h1>

<mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
<p style="text-align: center; font-size: smaller; margin-top: 0; margin-bottom: 24px;"><i>{{subtitle}}</i></p>

<p style="max-width: 850px;">{{text}}</p>

<div fxLayout="row wrap" fxLayoutAlign="center center">
    <button mat-raised-button style="height: 45px; margin: 8px" color="primary" routerLink="/manage/make">Create A Survey <mat-icon>add</mat-icon></button>
    <button *ngIf="availableSurveys.length > 0" mat-raised-button style="height: 45px; margin: 8px" [mat-menu-trigger-for]="manageMenu">Edit A Survey <mat-icon>arrow_drop_down</mat-icon></button>
    <mat-menu #manageMenu="matMenu">
        <button mat-menu-item *ngFor="let survey of availableSurveys" [routerLink]="'/manage/'+survey.id+'/'+survey.key">{{survey.name}}</button>
    </mat-menu>
</div>

<h2 style="margin-top: 48px; margin-bottom: 8px;">Try It Out Below</h2>

<app-single-question></app-single-question>

<!-- <div style="margin: 32px;" fxLayout="column" fxLayoutAlign="center center">
    <h3>Any and all feedback is appreciated!</h3>
    <button mat-raised-button (click)="openFeedback()" color="primary">Feedback</button>
</div> -->
