<h1 class="large" fxHide.lt-sm>{{title}}</h1>
<h1 fxHide.gt-xs>{{title}}</h1>

<mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
<p style="text-align: center; font-size: smaller; margin-top: 0; margin-bottom: 24px;"><i>{{subtitle}}</i></p>

<p style="max-width: 850px;">{{text}}</p>

<h2 style="margin-top: 64px; margin-bottom: 8px;">Try It Out</h2>

<app-single-question></app-single-question>

<!-- <div style="margin: 32px;" fxLayout="column" fxLayoutAlign="center center">
    <h3>Any and all feedback is appreciated!</h3>
    <button mat-raised-button (click)="openFeedback()" color="primary">Feedback</button>
</div> -->
