<mat-toolbar color="primary">
    <div class="header-title">
        <button mat-button routerLink="/home" style="margin-right: 16px;"><mat-icon>poll</mat-icon> Survey Of The Month</button>

        <button mat-button routerLink="/home" [routerLinkActive]="'linkActive'">Home</button>
        <button mat-button routerLink="/make-survey" [routerLinkActive]="'linkActive'">+ Create</button>
    </div>

    <span class="header-spacer"></span>

    <a mat-icon-button href="https://github.com/polklabs/survey-of-the-month" aria-label="GitHub Repository"
        aria-disabled="false" matTooltip="GitHub Repository">
        <mat-icon svgIcon="github"></mat-icon>
    </a>

</mat-toolbar>

<div style="height: calc(100% - 48px - 24px); overflow: auto;" class="base-survey-container">
    <router-outlet></router-outlet>
</div>

<div class="footer">
    <a href="https://www.polklabs.com" target="_blank" rel="noopener" class="copyright-color">© {{year}} Andrew Polk</a>
</div>