.base-survey-container {
    display: flex;
    height: 100%;
    align-items: flex-start;
    place-content: space-between center;
    min-height: calc(100vh - 48px - 280px); 
    overflow: auto;
    margin-top: 48px;
}

::ng-deep router-outlet ~ * {
    min-width: 300px;
    margin: 8px;
}

mat-toolbar {
    height: 48px;
    position: fixed;
    z-index: 1000;
}

.header-title {
    font-size: 24px;
    &:hover {
        cursor: pointer;
    }
    button:hover {
        background-color: rgba(0, 0, 0, 0.3);
    }
}

.footer {
    text-align: start;
    background-color: rgba(55, 55, 55, 0.5);
    color: whitesmoke !important;
    width: 100%;
    padding: 16px 0;
    border-top: white solid;
    a {
        text-align: start;
        text-decoration: underline;
        color: whitesmoke !important;
        padding: 8px 0;
        &:hover {
            color: #2196f3 !important;
        }
    }
}

.footer-stats {
    max-width: 100%;
    margin: auto;
}

.copyright-color {
    color: whitesmoke !important;
    text-decoration: none;
    &:visited {
        color: whitesmoke !important;
    }
}

.linkActive {
    background-color: rgba(0, 0, 0, 0.15);
}

.grouping-item {
    margin-left: 8px;
    font-size: smaller;
    color: gold;
    border-bottom: solid gold 1px;
    width: 90%;
    display: block;
}
