.base-survey-container {
    display: flex;
    height: 100%;
    align-items: flex-start;
    place-content: space-between center;
    background-image: url('/assets/imgs/chalkboard.jpg');
}

::ng-deep router-outlet ~ * {
    min-width: 300px;
    margin: 8px;
}

mat-toolbar {
    height: 48px;
}

.header-title {
    font-size: 24px;
    &:hover {
        cursor: pointer;
    }
}

.footer {
    height: 24px;
    width: 100%;
    background-color: whitesmoke;
    color: black;
}

.copyright-color {
    color: black !important;
    font-size: smaller;
    margin-left: 8px;
    text-decoration: none;
    &:visited {
        color: black !important;
    }
}

.linkActive {
    background-color: rgba(0,0,0,0.15);
}
