<mat-toolbar color="primary">
    <div class="header-title">
        <div fxHide.lt-sm>
            <button mat-button routerLink="/home" style="margin-right: 16px;"><mat-icon>poll</mat-icon> Survey Of The Month</button>
            <button mat-button routerLink="/home" [routerLinkActive]="'linkActive'">Home</button>
            <button mat-button [mat-menu-trigger-for]="manageMenu">Create/Manage <mat-icon>arrow_drop_down</mat-icon></button>
            <button mat-button (click)="openFeedback()">Feedback</button>
        </div>
        <div fxHide.gt-xs>
            <button mat-button [mat-menu-trigger-for]="menu"><mat-icon>poll</mat-icon> Survey Of The Month <mat-icon>arrow_drop_down</mat-icon></button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="/home" [routerLinkActive]="'linkActive'">Home</button>
                <button mat-menu-item [mat-menu-trigger-for]="manageMenu">Create/Manage</button>
                <button mat-menu-item (click)="openFeedback()">Feedback</button>
            </mat-menu>
        </div>

        <mat-menu #manageMenu="matMenu">
            <span *ngIf="availableSurveys.length > 0" class="grouping-item">Your Surveys</span>
            <button mat-menu-item *ngFor="let survey of availableSurveys" [routerLink]="'/manage/'+survey.id+'/'+survey.key">{{survey.name}}</button>
            <span *ngIf="availableSurveys.length > 0" class="grouping-item">Options</span>
            <button mat-menu-item routerLink="/manage/make"><mat-icon>add</mat-icon>Create</button>
            <button mat-menu-item (click)="lostLink()"><mat-icon>search</mat-icon>Lost Link</button>
        </mat-menu>
    </div>

    <span class="header-spacer"></span>

    <button mat-icon-button routerLink="/grammar" aria-label="Question Grammar"
        aria-disabled="false" matTooltip="Question Grammar">
        <mat-icon>code</mat-icon>
    </button>
    <a mat-icon-button href="https://github.com/polklabs/survey-of-the-month" aria-label="GitHub Repository"
        aria-disabled="false" matTooltip="GitHub Repository">
        <mat-icon svgIcon="github"></mat-icon>
    </a>

</mat-toolbar>

<div style="height: calc(100% - 48px - 24px); overflow: auto;" class="base-survey-container">
    <router-outlet></router-outlet>
</div>

<div class="footer">
    <a href="https://www.polklabs.com" target="_blank" rel="noopener" class="copyright-color">© {{year}} Andrew Polk</a>
</div>