<div fxLayoutAlign="center center" class="root">
    <div style="margin: auto; width: 800px; min-width: 250px;">
        <div fxLayoutAlign="center" *ngIf="editable">
            <mat-form-field class="title-input" appearance="outline">
                <mat-label>Survey Name</mat-label>
                <input matInput [(ngModel)]="survey.name" (keyup)="dirty = true" placeholder="Type Something..." maxlength="100">
            </mat-form-field>
        </div>
        <div *ngIf="!editable">
            <h1 class="large" fxHide.lt-sm>{{survey.name}}</h1>
            <h1 fxHide.gt-xs>{{survey.name}}</h1>
        </div>

        <div fxLayout="column" fxLayoutGap="32px" fxLayoutAlign="center" *ngIf="editable">
            <mat-form-field appearance="outline">
                <mat-label>Content</mat-label>
                <textarea matInput [matTextareaAutosize]="true" [(ngModel)]="survey.subtitle" (keyup)="dirty = true" placeholder="Type Something..." maxlength="2000"></textarea>
                <mat-hint>This text will be displayed before users take the survey</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="email" [(ngModel)]="survey.email" (keyup)="dirty = true; survey.emailSent = false;" placeholder="email@email.com" maxlength="320">
                <mat-hint>This email can be used to retrieve lost survey links</mat-hint>
            </mat-form-field>
        </div>

        <div fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="16px" style="margin-bottom: 32px; margin-top: 32px;">
            <mat-slide-toggle [(ngModel)]="editable" matTooltip="Preview how the survey will look">Edit/Preview Survey</mat-slide-toggle>
            <button mat-raised-button color="primary" [disabled]="loadingUnknown || !dirty" (click)="saveSurvey()">Save Survey</button>
            <button mat-raised-button *ngIf="key !== ''"  [routerLink]="'/manage-survey/' + id + '/' + key">Manage Survey</button>
        </div>

        <div *ngIf="!editable">
            <p style="text-align: center;">This is what the people taking your survey will see.</p>
        </div>

        <!-- People Chooser -->
        <div *ngIf="editable">
            <p style="margin-bottom: 4px;">Who are these questions for? Who are these questions for? Enter the names of people "or character" that will be taking your suvey. Names entered here will be randomly insterted into generated question and answers"</p>
            <mat-form-field class="user-chip-list" appearance="fill">
                <mat-label>People</mat-label>
                <mat-chip-list #chipList aria-label="People selection">
                    <mat-chip *ngFor="let user of survey.users" [selectable]="usersSelectable" [removable]="usersRemovable"
                        (removed)="removeUser(user)">
                        {{user.name}}
                        <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="New Person..." [matChipInputFor]="chipList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="usersAddOnBlur"
                        (matChipInputTokenEnd)="addUser($event)" maxlength="100">
                </mat-chip-list>
            </mat-form-field>
        </div>        

        <!-- Questions -->
        <div *ngFor="let question of survey.questions; let i = index;" 
            [@slideUpDown]="getQuestionPos(question.questionId)" style="margin-bottom: 32px;" fxLayout="row">
            <app-form-question fxFlex [question]="question" [loading]="loading[i]" [editable]="editable" [questionNumber]="(i+1).toString()"
                (qRandomize)="getQuestion(i)" (qRandomizeAnswers)="getAnswer(i, -1)" (qShuffle)="getQuestion(i, false, '', true)" 
                (aOrder)="orderAnswer(i, $event)" (aAdd)="addAnswer(i)" (aDelete)="deleteAnswer(i, $event)" (aRandomize)="getAnswer(i, $event)"
                (aEditText)="editAnswer(i, $event)" (aOtherOptionAllow)="otherOptionAllow(i)" (aEditScale)="editScaleValues(i)">
            </app-form-question>

            <!-- Question Actions -->
            <div fxFlex="none" fxLayout="column" *ngIf="editable">
                <button mat-icon-button [disabled]="!canMoveUp(i) || movingQuestion" (click)="move(i, -1)" matTooltip="Move Question Up"><mat-icon>arrow_upward</mat-icon></button>
                <div style="text-align: center;">{{i + 1}}</div>
                <button mat-icon-button [disabled]="!canMoveDown(i) || movingQuestion" (click)="move(i, 1)" matTooltip="Move Question Down"><mat-icon>arrow_downward</mat-icon></button>

                <button mat-icon-button [disabled]="loading[i]" (click)="editQuestion(i)" matTooltip="Edit Text"><mat-icon>edit</mat-icon></button>
                <button mat-icon-button [disabled]="loading[i]" [mat-menu-trigger-for]="questionType" matTooltip="Edit Type"><mat-icon>view_carousel</mat-icon></button>
                
                <button mat-icon-button *ngIf="editable" [disabled]="loading[i]" [matMenuTriggerFor]="questionOptions" matTooltip="More Options"><mat-icon>more_vert</mat-icon></button>
                <mat-menu #questionOptions="matMenu">
                    <button mat-menu-item (click)="getQuestion(i, false, '', true)" fxHide.gt-xs [disabled]="question.custom"><mat-icon color="accent">shuffle</mat-icon>Shuffle Question</button>
                    <button mat-menu-item (click)="seedQuestion(i)"><mat-icon>search</mat-icon>Seed</button>
                    <button mat-menu-item (click)="getQuestion(i, true)" matTooltip="There is a large possibility this won't work, but maybe it will. Use at your own risk."><mat-icon color="accent">restart_alt</mat-icon>Reset Question <mat-icon>warning_amber</mat-icon></button>
                    <button mat-menu-item (click)="deleteQuestion(i)"><mat-icon color="warn">delete</mat-icon>Delete Question</button>
                </mat-menu>
                <mat-menu #questionType="matMenu">
                    <button mat-menu-item (click)="editQuestionType(i, 'text')" [disabled]="question.answerType==='text'"><mat-icon>create</mat-icon>Text</button>
                    <button mat-menu-item (click)="editQuestionType(i, 'multi')" [disabled]="question.answerType==='multi'"><mat-icon>radio_button_checked</mat-icon>Choice</button>
                    <button mat-menu-item (click)="editQuestionType(i, 'check')" [disabled]="question.answerType==='check'"><mat-icon>check_box</mat-icon>Check</button>
                    <button mat-menu-item (click)="editQuestionType(i, 'rank')" [disabled]="question.answerType==='rank'"><mat-icon>stacked_bar_chart</mat-icon>Rank</button>
                    <button mat-menu-item (click)="editQuestionType(i, 'scale')" [disabled]="question.answerType==='scale'"><mat-icon>star_half</mat-icon>Rate</button>
                    <button mat-menu-item (click)="editQuestionType(i, 'date')" [disabled]="question.answerType==='date'"><mat-icon>today</mat-icon>Date</button>
                    <button mat-menu-item (click)="editQuestionType(i, 'time')" [disabled]="question.answerType==='time'"><mat-icon>schedule</mat-icon>Time</button>
                </mat-menu>
            </div>
        </div>

        <mat-progress-bar *ngIf="loadingUnknown" mode="indeterminate" style="margin-bottom: 16px;"></mat-progress-bar>

        <div *ngIf="editable" fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="center">
            <button mat-raised-button color="primary" [disabled]="loadingUnknown" [mat-menu-trigger-for]="addQuestionMenu"><mat-icon>add</mat-icon> Add Question</button>

            <mat-menu #addQuestionMenu="matMenu">
                <button mat-menu-item (click)="getQuestion(); setScroll(bottom)"><mat-icon>casino</mat-icon> Question</button>
                <button mat-menu-item (click)="getQuestionWithOrigin('intro_question'); setScroll(bottom)"><mat-icon>casino</mat-icon> Intro Question</button>
                <button mat-menu-item (click)="getQuestionWithOrigin('close_question'); setScroll(bottom)"><mat-icon>casino</mat-icon> Exit Question</button>
                <button mat-menu-item [mat-menu-trigger-for]="randomQuestionType"><mat-icon>view_carousel</mat-icon> Random Of Type</button>
            </mat-menu>
            <mat-menu #randomQuestionType="matMenu">
                <button mat-menu-item (click)="getQuestionWithFilter('text'); setScroll(bottom)"><mat-icon>create</mat-icon>Text</button>
                <button mat-menu-item (click)="getQuestionWithFilter('multi'); setScroll(bottom)"><mat-icon>radio_button_checked</mat-icon>Choice</button>
                <button mat-menu-item (click)="getQuestionWithFilter('check'); setScroll(bottom)"><mat-icon>check_box</mat-icon>Check</button>
                <button mat-menu-item (click)="getQuestionWithFilter('rank'); setScroll(bottom)"><mat-icon>stacked_bar_chart</mat-icon>Rank</button>
                <button mat-menu-item (click)="getQuestionWithFilter('scale'); setScroll(bottom)"><mat-icon>star_half</mat-icon>Rate</button>
                <button mat-menu-item (click)="getQuestionWithFilter('date'); setScroll(bottom)"><mat-icon>today</mat-icon>Date</button>
                <button mat-menu-item (click)="getQuestionWithFilter('time'); setScroll(bottom)"><mat-icon>schedule</mat-icon>Time</button>
            </mat-menu>

            <button mat-raised-button color="accent" [disabled]="loadingUnknown" [mat-menu-trigger-for]="questionType"><mat-icon>view_carousel</mat-icon> Blank Template</button>
            <mat-menu #questionType="matMenu">
                <button mat-menu-item (click)="addQuestion('text'); setScroll(bottom)"><mat-icon>create</mat-icon>Text</button>
                <button mat-menu-item (click)="addQuestion('multi'); setScroll(bottom)"><mat-icon>radio_button_checked</mat-icon>Choice</button>
                <button mat-menu-item (click)="addQuestion('check'); setScroll(bottom)"><mat-icon>check_box</mat-icon>Check</button>
                <button mat-menu-item (click)="addQuestion('rank'); setScroll(bottom)"><mat-icon>stacked_bar_chart</mat-icon>Rank</button>
                <button mat-menu-item (click)="addQuestion('scale'); setScroll(bottom)"><mat-icon>star_half</mat-icon>Rate</button>
                <button mat-menu-item (click)="addQuestion('date'); setScroll(bottom)"><mat-icon>today</mat-icon>Date</button>
                <button mat-menu-item (click)="addQuestion('time'); setScroll(bottom)"><mat-icon>schedule</mat-icon>Time</button>
            </mat-menu>
        </div>

    </div>
</div>
<div #bottom></div>

<div style="margin: 32px;" fxLayout="column" fxLayoutAlign="center center">
    <h3>Any and all feedback is appreciated!</h3>
    <button mat-raised-button (click)="openFeedback()" color="primary">Feedback</button>
</div>